body {
    font-family: "Truculenta", sans-serif !important;
    font-weight: 500 !important;
    font-size: larger !important;
}

.logo{
    font-family: "Spicy Rice", serif;
}

.accordion-button{
    font-weight: 500 !important;
    font-size: 25px !important;
}