* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
}

footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(177, 56, 0);
    color: white;
}

/*
.titreRecette{
    font-size: 1.5em;
    font-weight: bold;
}*/

.active {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 0.2em solid;
}

td {
    text-align: center;
    padding: 0.2em;
}

.boutonsModifs {
    margin-left: 0.3em;
}

.boutonsModifs a {
    text-decoration: none;
}

.recette {
    display: flex;
    align-items: center;
}

.recette:not(:hover)>.boutonsModifs {
    visibility: hidden;
}

.recette :hover>.boutonsModifs {
    visibility: visible;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(177, 56, 0);
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#navbar li :hover {
    background-color: rgb(124, 39, 0);
    border-radius: 5em;
}

body {
    padding-top: 100px;
    padding-bottom: 100px;
}

#bienvenue {
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
}

fieldset {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
    border-style: none;

    background-color: rgb(17, 17, 17);
    
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    width: 300px;

    padding: 10px;
}

#formTitreRecette,
#formDescriptionRecette,
#formCategorieRecette,
#formSubmit {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: white;
    margin-bottom: 2px;
}

#formSubmit {
    font-weight: bold;
    width: fit-content !important;
    padding: 5px;
    border-radius: 5em;
    border: 2px solid black;
}

.formIngredientRecette {
    margin-bottom: 5px;
}

#formIngredientsRecette {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 200px;
    margin-left: auto;
    margin-right: 130px;
    display: block;
    text-align: right;
}

#formIngredientsRecette label {
    font-weight: normal !important;
}

.formLogin,
.formMDP {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

input, textarea, select{
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
    font-size: medium;
}